Source: zero-lliurex-inventory
Section: x11
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 10),zero-dev, llxsrchelper,inkscape (>= 0.47)
Standards-Version: 4.1.2

Package: zero-lliurex-inventory
Architecture: any
Section: x11
Depends: zero-center,epi-gtk
Description: Fusion Inventory tool installer
  Zero-center helper, It downloads and installs Fusion Inventory for Gpt team
 
